.NavigationBar {
    height: 64px;
    width: 100%;
    background-color: #032337;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.NavigationBar nav {
    height: 100%;
}

.Logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Logo img {
    max-width: 40px;
    max-height: 40px;
}

.Logo :hover{
    cursor: pointer;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}

.DrawerToggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding: 16px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: white;
}

@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
}

