.CarouselContainer {
    background-color: #021826;
    padding-top: 30px;
    padding-bottom: 50px;
}

.CarouselContainer img {
    border-radius: 10px;
    margin: 0 10px;
    width: 320px;
    height: 180px;
}

@media (max-width: 499px) {
    .CarouselContainer {
        background-color: #021826;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .CarouselContainer img {
        border-radius: 10px;
        margin: 0 10px;
        width: 213.33px;
        height: 120px;
    }
}


