.PageContainer {
    width: 90%;
    margin: 20px auto;
}

.Header {
    margin-left: 12px;
    font-weight: 600;
    font-size: 40px;
}

.Cards {
    margin: 24px 0;
    display: flex;
    flex-direction: row;
}

.Card {
    margin: 0 12px !important;
}
